@inherits LayoutComponentBase

<div class="page">

    <main>
     <div class="container">
         <div class="row">
             <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                       No existe esa ruta!
                    </div>
             </div>
         </div>
     </div>
    </main>
</div>

